@font-face{
	font-family: nevis;
	src: url(nevis-bold.ttf);
}
*{
	margin: 0;
	font-family: arial;
}
.background{
	width: 925px;
	height: 738px;
	margin: 70px auto;
	position: relative;
}
.backtop{
	background: url(img/backgroundtop.png);
	box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.75);
	width: 925px;
	height: 71px;
	z-index: 1;
	border-top-right-radius: 10px;
	background-repeat: no-repeat;
	position: absolute;
}
.backbottom{
	width: 925px;
	height: 635px;
	top: 62px;
	border-radius: 10px 0 10px 0;
	background: url(img/backgroundbottom.png);
	background-repeat: no-repeat;
	position: absolute;
	box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.75);
}
.backshadow{
	width: 925px;
	height: 41px;
	background: url(img/backshadow.png);
	background-repeat: no-repeat;
	bottom: 0;
	position: absolute;
}
.packageWrap{
	width: 663px;
	height: 720px;
	position: absolute;
	z-index: 5;
	margin-left: 245px;
}
.packagename{
	width: 221px;
	height: 103px;
}
.basic,.advanced{
	width: 221px;
	height: 691px;
	float: left;
	top: -32px;
	position: relative;
	z-index: 4;
}
.basic .packagename{
	background: url(img/basic.png);
	background-repeat: no-repeat;
	border-radius: 10px 10px 0 0;
}
.basicDetails, .advancedDetails{
	background: #3079B1;
	width: 220px;
	height: 588px;
	border-radius: 0 0 10px 10px;
	box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.5);
}
.standard{
	width: 220px;
	height: 724px;
	float: left;
	top: -50px;
	position: relative;
	z-index: 10;
}
.standard .packagename{
	height: 122px;
	width: 222px;
	position: relative;
	left: -1px;
	background-repeat: no-repeat;
	background: url(img/standard.png);
}
.standardDetails{
	background: #7EBB2E;
	height: 601px;
	position: relative;
	top: -1px;
	border-radius: 0 0 10px 10px;
	box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.5);
}
.advanced .packagename{
	background: url(img/advanced.png);
	background-repeat: no-repeat;
	border-radius: 10px 10px 0 0;
}
.hosting{
	width: 245px;
	font-family: nevis;
	color: #6ebffb;
	font-size: 25px;
	padding-top: 8px;
	font-weight: 700;
	text-align: center;
	text-shadow: 0px 1px 2px rgba(7, 31, 65, 0.75);
}
.featuresWrap{
	width: 245px;
	height: 635px;
	position: relative;
}
.bigbox{
	height: 130px;
	width: 245px;
}
.ppm{
	position: relative;
	float: left;
	color: #307ab2;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	width: 245px;
	height: 46px;
	margin-top: 43px;
}
.divider{
	box-shadow: 0px 1px 0px 0px #184d81;
	width: 244px;
	height: 1px;
	float: left;
}
.packagedivider{
	box-shadow: 0px 1px 0px 0px #184d81;
	width: 220px;
	height: 1px;
	float: left;
}
.smallbox{
	height: 53px;
	width: 245px;
	float: left;
}
.packagesmallbox{
	height: 53px;
	width: 220px;
	float: left;
}
.featuresText{
	color:  #307ab2;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	margin-top: 19px;
}
.packageSpecs{
	color:  white;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	margin-top: 19px;
}
.prices{
	height: 121px;
	width: 220px;
}
.priceImg{
	display: block;
	margin: auto;
	padding-top: 12px;
}
.signupbtn{
	display: block;
	margin: 18px 28px;
	float: left;
}
.action{
	display: block;
	margin: 37px 29.5px;
	float: left;
}